.mask-hexagon {
	mask: url(/hive-wiki/mask-hexagon.svg);
	mask-repeat: no-repeat;
	mask-size: 100%;
	aspect-ratio: 8/9;
	object-fit: cover;
}

a.external {
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 16px 0 0;
	background-image: url(/hive-wiki/external-arrow.svg);
}

.anchor {
	scroll-margin-top: 2rem;
}

.anchor:hover >.anchor-link {
	opacity: 1;
}

.anchor-link {
	content: url(/hive-wiki/hyperlink.svg);
	display: inline-flex;
	margin-left: 0.25em;
	
	width: 1em;
	height: 1em;
	align-items: center;
	justify-content: center;
	
	font-size: 1.5rem;

	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.anchor-link:hover {
	/* hard-coded to current accent color #0073AA oops */
	filter: invert(31%) sepia(92%) saturate(858%) hue-rotate(166deg) brightness(94%) contrast(105%);
}