:root {
	--sl-font: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
	font-weight: bold;
}

.mask-hexagon {
	mask: url(/mask-hexagon.svg);
	mask-repeat: no-repeat;
	mask-size: 100%;
	aspect-ratio: 8/9;
	object-fit: cover;
}






ol ol {
	list-style-type: lower-alpha;
}

figcaption {
	font-style: italic;
	color: #747474
}

/* table snippets */

.supplies td:nth-child(2) {
	font-size: 10px;
	vertical-align: top;
}

.align-middle td {
	vertical-align: middle !important;
}

/* External link styling
Reference: https://rachsmith.com/styling-external-links/ */

a.external {
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 16px 0 0;
	background-image: url(/external-arrow.svg);
}