.mask-hexagon {
	mask: url(/wiki/mask-hexagon.svg);
	mask-repeat: no-repeat;
	mask-size: 100%;
	aspect-ratio: 8/9;
	object-fit: cover;
}

a.external {
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 16px 0 0;
	background-image: url(/wiki/external-arrow.svg);
}

.anchor {
	scroll-margin-top: 2rem;
}

.anchor:hover >.anchor-link {
	opacity: 1;
}

.anchor-link {
	content: url(/wiki/hyperlink.svg);
	filter: brightness(0) saturate(100%) invert(50%) sepia(7%) saturate(0%) hue-rotate(206deg) brightness(101%) contrast(88%);
	display: inline-flex;
	margin-left: 0.25em;
	
	font-size: 1.5rem;
	width: 1em;
	height: 1em;
	align-items: center;
	justify-content: center;
	
	opacity: 0;
	transition: all 0.2s ease-in-out;
}

.anchor-link:hover {
	/* hard-coded to current accent color #0073AA oops */
	filter: invert(31%) sepia(92%) saturate(858%) hue-rotate(166deg) brightness(94%) contrast(105%);
}

ol ol { list-style-type: lower-alpha;}