.mask-hexagon {
	mask: url(/hive-wiki/mask-hexagon.svg);
	mask-repeat: no-repeat;
	mask-size: 100%;
	aspect-ratio: 8/9;
	object-fit: cover;
}


a.external {
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0 16px 0 0;
	background-image: url(/hive-wiki/external-arrow.svg);
}

.anchor {
	display: inline-block;
	margin-top: 1.5em;
	margin-bottom: 1rem;

	scroll-margin-top: 2rem;
	
}

.anchor-link {
	font-size: 1.5rem;
	margin-left: 0.25em;
	height: 1em;
	width: 1em;
	text-decoration: none;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	opacity: 0.2;
	transition: opacity 0.2s ease-in-out;
}

.anchor-link:hover,
.anchor-link:focus {
	opacity: 1;
}